{% extends "base/layout.html" %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/about.css')}}">

    {%if title%}
    <title>DigiShop - {{title}}</title>
    {%else%}
    <title>DigiShop</title>
    {%endif%}

</head>
<body>
    <div class="content">
        <p>Safta Abir : ja_safta@esi.dz</p>
        <p>Aboud Rayane : ja_aboud@esi.dz</p>
        <p>© 2023  DigiShop. All rights reserved.</p>
    </div>
</body>
</html>
{% endblock %}
