<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/main.css')}}">
    
    {%if title%}
        <title>DigiShop - {{title}}</title>
    {%else%}
        <title>DigiShop</title>
    {%endif%}
</head>
<body>
    <nav>  
        <img src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
        <div class="links">
                <ul class="horizontal">
                    <li><a href="{{url_for('home')}}">Home</a></li>
                    <li><a href="{{url_for('about')}}">About</a></li>
                    <li><a href="{{url_for('login')}}">Login</a></li>
                    <li><a href="{{url_for('register')}}">Register</a></li>
                </ul>
        </div>
        
    </nav>
    
    
    {%block content%}
    {%endblock%}
</body>
</html>