.productcontainer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: auto 0;
    height: fit-content;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 50px;
    box-sizing: border-box;
}

  
  
.productbox {
    border: none;
    width: 695px;
    height: 236px;
    border-radius: 30px;
    background: #F6F6F6;
    display: flex;
    align-items: center;
    margin-top: 50px;
    padding: 28px;
    box-sizing: border-box;
}

.upload {
    width: 180px;
    height: 180px;
    border-radius: 10px;
}

.productinfo {
    margin-left: 33px;
    width: 100%;
}

button {
    height: fit-content;
    width: fit-content;
    padding: 8px 16px;
    border: none;
    background-color: #FF5951;
    color: white;
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    font-weight: 400;
    font-family: poppins;
    cursor: pointer;
    border-radius: 10px;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    margin-top: 20px;
    float: right;
}
  
button:hover {
    background-color: black;
    color: #fff;
}