{%extends "base/layout.html"%}
{%block style%}
{%endblock style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/addproduct.css')}}">
{% block content %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/addproduct.css')}}">

    {%if title%}
    <title>DigiShop - {{title}}</title>
    {%else%}
    <title>DigiShop</title>
    {%endif%}
    
</head>
<body>
    
    <form method="POST" action="" enctype="multipart/form-data">
        {{form.csrf_token }}
        {{form.hidden_tag()}}<!--gotta see what it does-->
        <fieldset>
            <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
            <div class="container">
           
                <div>
                    {%if form.location.errors%}
                        {{form.location(class="location", placeholder="Seller's location")}}
                        <div>
                            {%for error in form.location.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.location(class="location", placeholder="Seller's location")}}
                    {%endif%}                
                </div>

        
                
                <div>
                    {%if form.product_name.errors%}
                        {{form.product_name(class="product_name", placeholder="Product name")}}
                        <div>
                            {%for error in form.product_name.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.product_name(class="productName", placeholder="Product name")}}
                    {%endif%}                
                </div>


                <div>
                    {%if form.brand.errors%}
                        {{form.brand(class="brand", placeholder="Brand")}}
                        <div>
                            {%for error in form.brand.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.brand(class="brand", placeholder="Brand")}}
                    {%endif%}                
                </div>

                <div>
                    {%if form.description.errors%}
                        {{form.description(class="description", placeholder="Description", rows=3)}}
                        <div class="invalid-feedback">
                            {% for error in form.description.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else%}
                        {{form.description(class="description", placeholder="Description",rows=3)}}
                    {%endif%}                
                </div>
               
                <div>
                    {%if form.category.errors%}
                        {{form.category(class="category", placeholder="Category")}}
                        <div>
                            {%for error in form.category.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.category(class="category", placeholder="Category")}}
                    {%endif%}                
                </div>
                
                <div>
                    {%if form.price.errors%}
                        {{form.price(class="price", placeholder="Price")}}
                        <div>
                            {%for error in form.price.errors%}
                                <span>{{error}}</span>
                            {%endfor%}
                        </div>
                    {%else%}
                        {{form.price(class="price", placeholder="Price")}}
                    {%endif%}                
                </div>

                <div>
                    {{form.picture.label(class="upload")}}
                    {%if form.picture.errors%}
                        {{form.picture(class="form-control is-invalid", placeholder="")}}
                        <div class="invalid-feedback">
                            {% for error in form.picture.errors %}
                              <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {%else%}
                        {{form.picture(class="form-control", placeholder="")}}
                    {%endif%}
                </div>
                
            
            
            </div>  
            <div>
                {{form.submit(class="Submit")}}
            </div>     
        </fieldset>
        
    
        
    </form>
</body>
</html>

{% endblock %}   