{%extends 'base/layout.html'%}

{%block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/product.css')}}">
{%endblock style%}

{%block content%}
<form class="show-product" method="POST" action="{{url_for('product_bp.delete_product',product_id=product.id)}}">
    {{form.csrf_token }}
    {{form.hidden_tag()}}
    <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
    <div class="container">
        
        <div class="seller-info">
            <h3>Seller informations:</h3>
                <p>seller</p>
                <div class="field">
                    {{product.seller.username}}
                </div>

                <p>location</p>
                <div class="field">
                    {{product.seller.location}}
                </div>

                <p>e-mail</p>
                <div class="field">
                    {{product.seller.email}}
                </div>


        </div>
        <div class="product-info">
            <h3>Product informations:</h3>
                <p>product name</p>
                <div class="field">
                    {{product.product_name}}
                </div>

                <p>Brand</p>
                <div class="field">
                    {{product.brand}}
                </div>

                <p>Description</p>
                <div class="field">
                    {{product.description}}
                </div>

                <p>category</p>
                <div class="field">
                    {{product.category}}
                </div>

                <p>price</p>
                <div class="field">
                    {{product.price}}
                </div>

        </div>

    </div>

    {%if product.seller == current_user%}
        <div class="update-delete-section">
            <div class="delete-class">
                {{form.submit(class="Submit")}}
            </div>
        </div>
    {%endif%}

    
</form>
{%endblock content%}