{%extends 'base/layout.html'%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/product.css')}}">
{%endblock style%}
{%block content%}


<div class="show-product">
    
    <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">
    <div class="container">
        
        <div class="seller-info">
            <h3>Seller informations:</h3>
                <p class="Seller-text">Seller :</p>
                <div class="field">
                    {{product.seller.username}}
                </div>

                <p class="Location-text">Location :</p>
                <div class="field">
                    {{product.seller.location}}
                </div>

                <p class="Email-text">E-mail :</p>
                <div class="field">
                    {{product.seller.email}}
                </div>

        </div>
        <div class="product-info">
            <h3>Product informations:</h3>
                <p class="Productname-text">Product name :</p>
                <div class="field">
                    {{product.product_name}}
                </div>

                <p class="Brand-text">Brand :</p>
                <div class="field">
                    {{product.brand}}
                </div>

                <p class="Description-text">Description :</p>
                <div class="field">
                    {{product.description}}
                </div>

                <p class="Category-text">Category :</p>
                <div class="field">
                    {{product.category}}
                </div>

                <p class="Price-text">Price :</p>
                <div class="field">
                    {{product.price}} DZD
                </div>

        </div>

    </div>
    {%if product.seller == current_user%}
        <div class="update-delete-section">
            <div class="update-delete-class">
                <a href="{{url_for('product_bp.update_product',product_id=product.id)}}">update product</a>
            </div>
            <div class="update-delete-class">
                <a href="{{url_for('product_bp.delete_product',product_id=product.id)}}">delete product</a>
            </div>
        </div>
    {%endif%}
    
</div>



{%endblock content%}

