{%extends "base/layout.html"%}
{%block style%}
<link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/account.css')}}">
{%endblock style%}
{%block content%}
<div class="show-account">

    <img class="logo" src="{{ url_for('static', filename='images/Logo.png') }}" alt="Logo">

    <div class="profile-image">
        <img src="{{image_file}}" alt="profil_pic"/>
    </div>
    
    <form method="POST" action="" enctype="multipart/form-data"><!--errors because of image-->
        {{form.hidden_tag()}}<!--gotta see what it does-->
        <fieldset>
            <p class="username-text">Username :</p>
            <div>
                {{form.username.label()}}
                {%if form.username.errors%}
                    {{form.username(class="username")}}
                    <div>
                        {%for error in form.username.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                {%else%}
                    {{form.username(class="username")}}
                {%endif%}
            </div>
            <p class="email-text">Email :</p>
            <div>
                {{form.email.label()}}
                {%if form.email.errors%}
                    {{form.email(class="email")}}
                    <div>
                        {%for error in form.email.errors%}
                            <span>{{error}}</span>
                        {%endfor%}
                    </div>
                {%else%}
                    {{form.email(class="email")}}
                {%endif%}
            </div>
            
            <div>
                {{form.picture.label(class="update")}}
                {%if form.picture.errors%}
                    {{form.picture(class="form-control is-invalid", placeholder="")}}
                    <div class="invalid-feedback">
                        {% for error in form.picture.errors %}
                          <span>{{ error }}</span>
                        {% endfor %}
                    </div>
                {%else%}
                    {{form.picture(class="form-control", placeholder="")}}
                {%endif%}
            </div>
            
        </fieldset>
        <div>
            {{form.update(class="submit")}}
        </div>
    </form>
</div>
{%endblock content%}