body {
    background-image: url('/static/images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    font-family: poppins;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    
}

.content {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }