body {
    font-family: poppins;
    font-size: 12px;
}

.product-block{
    height: 321px;
    width: 221px;
    border-radius: 20px;
    padding: 20px;
    box-sizing: border-box;
    background: #F4F4F4;
    display: flex;
    flex-direction: column; 
    align-items: center; 
    height: fit-content; 
}


.description{
margin-top: 15px;
text-align: center;
}

.price{
    color: #FF0000;
    font-weight: 700;
    margin-top: 15px;
    font-size: 14px;
}