
<!DOCTYPE html>

{% extends "base/layout.html" %}

{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/admin.css')}}">

    {%if title%}
    <title>DigiShop - {{title}}</title>
    {%else%}
    <title>DigiShop</title>
    {%endif%}

</head>


<body>
  
    <div class="productcontainer">

        <div class="productbox">
          <img class="upload" src="{{ url_for('static', filename='images/upload.jpg') }}" alt="Product Image">
          <div class="productinfo">
              <h2>Product Name</h2>
              <p>Description</p>
              <ul>
                <li>Category: Category Name</li>
                <li>Price: X.XX DZD</li>
                <li>Seller: Seller Name</li>
              </ul>
              <button class="validate">Validate</button>
          </div>
        </div>

        <div class="productbox">
            <img class="upload" src="{{ url_for('static', filename='images/upload.jpg') }}" alt="Product Image">
            <div class="productinfo">
                <h2>Product Name</h2>
                <p>Description</p>
                <ul>
                  <li>Category: Category Name</li>
                  <li>Price: X.XX DZD</li>
                  <li>Seller: Seller Name</li>
                </ul>
                <button class="validate">Validate</button>
            </div>
          </div>

          <div class="productbox">
            <img class="upload" src="{{ url_for('static', filename='images/upload.jpg') }}" alt="Product Image">
            <div class="productinfo">
                <h2>Product Name</h2>
                <p>Description</p>
                <ul>
                  <li>Category: Category Name</li>
                  <li>Price: X.XX DZD</li>
                  <li>Seller: Seller Name</li>
                </ul>
                <button class="validate">Validate</button>
            </div>
          </div>

          <div class="productbox">
            <img class="upload" src="{{ url_for('static', filename='images/upload.jpg') }}" alt="Product Image">
            <div class="productinfo">
                <h2>Product Name</h2>
                <p>Description</p>
                <ul>
                  <li>Category: Category Name</li>
                  <li>Price: X.XX DZD</li>
                  <li>Seller: Seller Name</li>
                </ul>
                <button class="validate">Validate</button>
            </div>
          </div>
          
        <!-- Repeat the above product box HTML for multiple products -->
      </div>
      
</body>
</html>
{% endblock %}    