<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='css/product_block.css')}}">
</head>
<body>
    <div class="product-block">
        <img class="product-image" src="{{ url_for('static', filename='images/nutella.png') }}" alt="product-image">
        <p class="description"> Nutella pate à tartiner aux noisettes et au cacao 200grs </p>
        <p class="price"> 900 DZD </p>
    </div>
</body>
</html>